@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* ----RESET DEFAULT---- */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1, h2{
    margin: 0;
}

/* ----RESET DEFAULT---- */


/* ----BAR CONTACT---- */

.contactArea{
    display: flex;
    align-items:center;
    padding: 5px 80px;
    height:50px;
    background-color: #2A359B;
    color: #fff;
}
.phoneArea{
    display: flex;
    gap: 7px;
    align-items:center;
    height: 100%;
    font-size: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 10px;
    color: #FFF !important;
}
.emailArea{
    display: flex;
    gap: 7px;
    align-items:center;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    color: #FFF;
}
.instagramArea a,
.facebookArea a,
.whatsappArea a{
    display: flex;
    gap: 7px;
    align-items:center;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    color: #FFF;
    transition: all .3s ease;
}
.instagramArea a:hover,
.facebookArea a:hover,
.whatsappArea a:hover{
    opacity: 0.8;
}
.instagramArea i,
.facebookArea i,
.whatsappArea i{
    font-size: 16px;
}
.emailArea a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.emailArea a:hover{
    opacity: 0.8;
}

/* ----BAR CONTACT---- */

/* ----HEADER + NAV---- */
.fixed-top{
    opacity: 1;
}
header{
    height: 130px;
    background-color: #1E44CB;
}
.headerArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoArea{
    color: #FFF;
    font-size: 30px;
}

.navArea{
    height: 80px;
}
nav{
    height: 100%;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
}
nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    
}
nav ul a{
    height: 100%;
    transition: all .3s linear;
}   
nav ul a:hover{
    background-color: rgba(104, 114, 255, 0.39);
    font-size: 5px;
}
.btn2{
    background-color: #FFF;
    padding: 5px 15px;
    color: #000;
    border-radius: 3px;
}
.btn2 li{
    color: #1E44CB;
}

/* ----HEADER + NAV---- */

/* ----BANNER TOP AREA----  */

.bannerArea{
    height: calc(100vh - 130px);
    background: linear-gradient(rgba(135, 160, 248, 0.57), rgba(250, 251, 255, 0.57)), url(../images/banner3.jpg);
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.itemsBannerArea{
    display: flex;
    height: 100%;
}
.descriptionArea,
.imageArea{
    flex: 1;
}
.descriptionArea{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.descriptionArea h1{
    font-weight: bold;
    font-size: 100px;
    line-height: 90px;
    margin-bottom: 20px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgb(99, 99, 99);
}
.descriptionArea .description{
    font-size: 18px;
    color: #353535;
    max-width: 550px;
    margin-bottom: 20px;
}
.descriptionArea .btn{
    background-color: #1E44CB;
    width: 120px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    transition: all 0.2s linear;
}
.descriptionArea .btn:hover{
    opacity: 0.8;
}

/* ----BANNER TOP AREA----  */

/* ----AREA FORMULARIO---- */
.form{
    background: linear-gradient(rgba(255, 255, 255, 0.57), rgba(255, 255, 255, 0.57)), url(../images/banner5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formArea{
    display: flex; 
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.formArea h2{
    font-size: 37px;
    font-weight: bold;
    margin-top: 30px;
    color: #353535;
}
.descriptionFormTitle{
    font-size: 18px;
    color: #999;
    margin-bottom: 40px;
}

.formAreaInfos{
    width: 50%;
}
label{
    font-size: 15px;
}
#nameFull::placeholder,
#cpf::placeholder,
#adress::placeholder,
#phone::placeholder,
#email::placeholder,
#valor::placeholder{
    color: #CCC !important;
}

.form-group{
    margin-bottom: 20px;
}
.buttonsForm button{
    background-color: #1E44CB;
    width: 250px;
    height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    transition: all .3s ease;
}
.buttonsForm{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.buttonsForm button:hover{
    opacity: .8;
    color: #fff;
}
.buttonsForm a{
    margin-left: 30px;
}

/* ----AREA FORMULARIO---- */

/* ----SERVICOS AREA---- */

.options{
    background-color: #1E44CB;
    padding: 40px;
}
.line{
    width: 1px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #1E44CB
}
.optionsArea{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.optionsArea img{
    width: 70px;
    margin-bottom: 20px;
}
.optionsArea h2{
    font-weight: bold;
    color: #fff;
}
.moneyPersonalDescription,
.moneyCompanyDescription{
    font-size: 15px;
    color: #B4B2B2;
    width: 400px;
    text-align: center;
    margin-top: 20px;
}
.moneyPersonalDescription span{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.moneyPersonal{
    text-align: center;
}
.moneyCompany{
    text-align: center;
}
.optionsArea a{
    background-color: #fff;
    margin-top: 30px;
    color: #1E44CB;
    font-size: 15px;
    font-weight: bold;
    transition: all .3s ease;
}
.optionsArea a:hover{
    color: #1E44CB;
    opacity: .8;
}

/* ----SERVICOS AREA---- */


/* ----SOBRE NOS AREA---- */

.sobreNosArea,
.partnerArea--title,
.cardArea--titles{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.sobreNosArea--title,
.title,
.cardArea--title{
    font-size: 37px;
    font-weight: bold;
    margin-top: 30px;
    color: #353535;
}
.sobreNosArea--description,
.description,
.cardArea--title--description{
    font-size: 18px;
    color: #999;
    margin-bottom: 40px;
}

.sobreNosArea--text{
    max-width: 480px;
    text-align: center;
    margin: 0 auto 30px auto;
    color: #353535;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
}

.sobreNos--points{
    display: flex;
    border-left: 1px solid #CCC;
    padding: 30px;
}
.sobreNos--points .bulletPoint{
    background-color: #4b64c0;
    width: 32px;
    height: 4px;
    border-radius: -132px;
    margin-left: -31px;
    margin-top: -31px;
}
.sobreNos--points--title{
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 14px;
    margin-top: -38px;
    color: #353535;
}
.sobreNos--points--description{
    margin-left: 14px;
    margin-top: 10px;
    color: #999;
}

.mb-30{
    margin-bottom: 20px;
}

/* ----SOBRE NOS AREA---- */

/* ----PARTNER AREA----  */

#partner{
    background-color: #1E44CB;
    padding: 0 10px 40px 10px;
}
.partnerArea{

}
.partnerArea--title{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.title{
    font-size: 37px;
    font-weight: bold;
    margin-top: 30px;
    color: #FFF;
}
.description{
    font-size: 18px;
    color: rgb(197, 197, 197);
    margin-bottom: 40px;
}
.partnerArea--items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}
.partnerArea--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
    color: #FFF;
}
.partnerArea--item i{
    font-size: 2rem;
    margin-bottom:20px;
}
.partnerArea--item .item--title{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 1px solid rgba(116, 142, 255, 0.24);
}
.partnerArea--item .item--description{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

/* ----PARTNER AREA----  */

/* ----PARTNER AREA - FORM---- */

.partnerArea--form{
    display: flex;
    justify-content:center;
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(116, 142, 255, 0.24);
}
.partnerArea--form form{
    width: 80%;
}
.partnerArea--form .form-control{
    margin-bottom: 25px !important;
}
.partnerArea--form label{
    color: #FFF;
}
.partnerArea--form .form-control::placeholder{
    color: #ccc;
}
.partnerArea--form #btnSubmit{
    background-color: #2A359B;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 30px;
    display: block;
    transition: all .2s ease-in-out;
}
.partnerArea--form #btnSubmit:hover{
    opacity: 0.8;
    box-shadow: 2px 1px 0 #4967d4;
}
/* ----PARTNER AREA - FORM---- */

/* ----CARTAO DE CREDITO AREA---- */

#cartaoCredito{
    padding: 0 10px 40px 10px;
}
.cardArea{
    display: flex;
    justify-content:center;
    align-items:center;
}
.cardArea--descriptions{
    margin-left: 30px;
}
.cardArea--description{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 20px;
}
.cardArea--descriptions .btn{
    background-color: #2A359B;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 30px;
    display: block;
    transition: all .2s ease-in-out;
}
.cardArea--descriptions .btn:hover{
    opacity: 0.8;
}

/* ----CARTAO DE CREDITO AREA---- */

/* ----FOOTER AREA---- */

footer{
    background-color: #2A359B;
    color: #fff;
    padding: 20px;
    font-size:14px;
    margin-top: 0px;
}

.footerArea{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 30px;
}
.footerPhone,
.footerEmail{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
.footerEmail a{
    color: #FFF;
    transition: all .3s ease;
}
.footerEmail a:hover{
    opacity: 0.8;
}

/* ----Energy AREA---- */
#energy{
    background: linear-gradient(rgba(255, 255, 255, 0.77), rgba(255, 255, 255, 0.77)), url(../images/house.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:calc(100vh - 191px);
    padding: 30px;
}
.energyArea--texts h2{
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
}
.energyArea--description{
    background-color: red;
    width: 50%;
    margin-top: 30px;
}










/* ----FOOTER AREA---- */

/* ----ARROW TOP AREA---- */ 
.btnTop img{
    width:40px;
    height:40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color:#1E44CB;
    padding:5px;
    border-radius: 50%;
    cursor:pointer;
    display: block;
    z-index: 999;
}

