@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1{
    margin: 0;
}
.contactArea{
    display: flex;
    align-items:center;
    padding: 5px 80px;
    height:50px;
    background-color: #2A359B;
    color: #fff;
}
.phoneArea{
    display: flex;
    gap: 7px;
    align-items:center;
    height: 100%;
    font-size: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 10px;
}
.emailArea{
    display: flex;
    gap: 7px;
    align-items:center;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
}
.emailArea a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.emailArea a:hover{
    opacity: 0.8;
}
/* .line{
    height:3px;
    background-color: red;
} */
header{
    height: 150px;
    background-color: #1E44CB;
}
.headerArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.logoArea img{
    width: 60px;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
}
nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-size: 18px;
    
}
nav ul a{
    transition: all .3s linear;
}   
nav ul a:hover{
   opacity: 0.6;
}


.bannerArea{
    height: calc(100vh - 150px);
    background-image: url(../images/banner3.jpg);
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.itemsBannerArea{
    display: flex;
    height: 100%;
}
.descriptionArea,
.imageArea{
    flex: 1;
}
.descriptionArea{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.descriptionArea h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    margin-bottom: 20px;
    color: #2A359B;
}
.descriptionArea .description{
    font-size: 18px;
    color: #353535;
    max-width: 550px;
    margin-bottom: 20px;
}
.descriptionArea .btn{
    background-color: #1E44CB;
    width: 120px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    transition: all 0.2s linear;
}
.descriptionArea .btn:hover{
    opacity: 0.8;
}